<h1> Create your next utter bastard of a feline</h1>
</br>
<section>
  <%= simple_form_for @cat do |form| %>
    Name: <%=  form.text_field :name %></br>
    Description: <%= form.text_field :description %></br>
    Save the Bastard! <%= form.submit %>
  <% end %>
  <%= link_to "Back to my cats", cats_path %>
</section>
